<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	 backupStaticAttributes="false"
	bootstrap="./tests/bootstrap.php"
	 convertErrorsToExceptions="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="Nella Framework Test Suite">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./Nella</directory>
			<exclude>
				<directory suffix=".php">./Nella/Panels</directory>
				<file>./Nella/shortcuts.php</file>
				<file>./Nella/loader.php</file>
				<file>./Nella/Localization/shortcuts.php</file>
				<file>./Nella/Localization/Panel.php</file>
				<file>./Nella/Doctrine/Panel.php</file>
				<file>./Nella/Security/Panel.php</file>
				<file>./Nella/Framework.php</file>
				<file>./Nella/SplClassLoader.php</file>
				<directory suffix=".php">./vendors</directory>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="build/coverage" title="Nella Framework"
			 charset="UTF-8" yui="true" highlight="true"
			 lowUpperBound="35" highLowerBound="70"/>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
		<log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
