<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
	 backupStaticAttributes="false"
	 bootstrap="./bootstrap.php"
	 convertErrorsToExceptions="true"
	 convertNoticesToExceptions="true"
	 convertWarningsToExceptions="true">
	<testsuites>
		<testsuite name="Nella Framework Test Suite">
			<directory>./</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">../Nella</directory>
			<exclude>
				<directory suffix=".php">../Nella/Panels</directory>
				<file>../Nella/shortcuts.php</file>
				<file>../Nella/loader.php</file>
				<file>../Nella/Localization/shortcuts.php</file>
				<file>../Nella/Localization/Panel.php</file>
				<file>../Nella/Doctrine/Panel.php</file>
				<file>../Nella/Security/Panel.php</file>
				<file>../Nella/Framework.php</file>
				<file>../Nella/SplClassLoader.php</file>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
