<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<phpunit backupGlobals="false" backupStaticAttributes="false" bootstrap="./bootstrap.php" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
	<filter>
		<whitelist>
			<directory suffix=".php">../Nella</directory>
			<exclude>
				<directory suffix=".php">../Nella/NetteAddons/Diagnostics</directory>
				<file>../Nella/shortcuts.php</file>
				<file>../Nella/loader.php</file>
				<file>../Nella/Framework.php</file>
				<directory suffix=".php">../vendors</directory>
			</exclude>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="Nella Framework Test Suite">
			<directory>./cases</directory>
		</testsuite>
	</testsuites>
</phpunit>
