This is test text with {_Translation}

This is test text with {_'Quoted Translation'}

This is test text with {_[PluralTranslation1, PluralTranslation2], 1}

This is test text with {_['%d PluralTranslation', '%d PluralTranslations'], 2}

This is test text with {_'%s VariablesTranslation %d', ['foo', 2]}